.greenHighlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #d1fae5 60%);
}

.yellowHighlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #fde68a 60%);
}

.redHighlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #fecaca 60%);
}

.blueHighlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #dbeafe 60%);
}

.bg {
  background-size: 40px 40px;
  background-position: calc(50% - 1px) calc(50% - 1px);
  background-image: linear-gradient(to right, #ecfdf5 1px, transparent 1px),
    linear-gradient(to bottom, #ecfdf5 1px, transparent 1px);
}

.barBg {
  background-image: linear-gradient(
    to right,
    transparent calc(25% - 1px),
    #e5e7eb 25%,
    transparent calc(25% + 1px),
    transparent calc(50% - 1px),
    #d1d5db 50%,
    transparent calc(50% + 1px),
    transparent calc(75% - 1px),
    #e5e7eb 75%,
    transparent calc(75% + 1px)
  );
}

.pointDownArrow {
  animation: moveUpDown 1.5s ease infinite;
  display: inline-block;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
}
